<h1> All Users 😎 </h1>

<% if @users.any? %>
    <% @users.each do |user| %>
        <p>
          <%= user.name %>
          <%= link_to "EDIT", edit_user_path(user) %>
          <%= button_to "DELETE", user_path(user), method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
    <%end %>
<% else %>
    <p> No users found</p>
<%end %>
